body {
    margin: 0;
    padding: 0;
}

/* Change background & text color on selection_________________________ */
::selection {
    background-color: dodgerblue;
    color: white;
}

/* NavBar Start's___________________________________________________ */

.navBar {
    max-width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all 0.2s;
}

/* Disable Body scroll when navbar show_______________________________________________ */
body.active {
    overflow: hidden !important;
}

.navBar.scrlStart {
    box-shadow: 0px 0px 10px black;
}


.logoContainer {
    display: flex;
    align-items: center;
    gap: 2px;
}

.Logo {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.3s, rotate 0.5s;
}

.Logo:hover {
    transform: scale(1);
    rotate: 0 0 1 360deg;
    box-shadow: inset 0px 0px 5px dodgerblue;
}

.logoHeading {
    color: dodgerblue;
}




/* Toggle Button Start's_____________________________________ */

.navbarToggler {
    padding: 5px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 4px;
    /* background-color: rgb(0, 95, 190); */
    background: linear-gradient(to right, deepskyblue, rgb(0, 95, 190));
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.bar.active {
    background-color: rgb(123, 0, 0);
    background: linear-gradient(to right, rgb(170, 0, 0), rgb(87, 0, 0));
}


/* Toggle Button Start's_____________________________________ */


.navLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Navbar Links Start's________________________________________________ */

.navLinks {
    color: rgb(94, 175, 255);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    transition: all 0.3s;
}

.navLinks:hover {
    color: rgb(0, 128, 255);
}

.navLinks::before {
    content: "";
    position: absolute;
    border-bottom: 1px solid dodgerblue;
    width: 100%;
    transform: scaleX(0);
    bottom: -2px;
    transform-origin: right;
    transition: transform 0.2s ease, transform-origin 0s;
}

.navLinks:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/* Portal Svg Start's______________________________ */

.portal {
    width: 22px;
    height: 22px;
    fill: rgb(0, 139, 185);
    transition: 0.3s;
}

.navLinks:hover .portal {
    fill: dodgerblue;
}

/* Portal Svg End's______________________________ */



/* Navbar Links End's________________________________________________ */




/* NavBar End's___________________________________________________ */





















/* Hero Section Start's__________________________________________________________ */

.hero_section {
    position: relative;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 400px; */
    object-fit: cover;
    z-index: -2;
}

.video_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero_content {
    color: #fff;
    text-align: center;
    animation: fadeInUp 1.5s ease forwards;
    opacity: 0;
    transform: translateY(20px);
}

.hero_content h1 {
    font-size: 44.8px;
    margin-bottom: 16px;
    font-weight: 700;
}

.hero_content span {
    color: #00bfff;
}

.hero_content p {
    font-size: 16.6px;
    opacity: 0.9;
    margin-bottom: 32px;
}

/* Button */

.hero_sect_btn a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.hero_sect_btn:hover a {
    color: dodgerblue;
}

.hero_sect_btn {
    font-weight: 600;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border: 1px solid dodgerblue;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    transition: all 0.5s;
}

.hero_sect_btn:hover {
    color: dodgerblue;
    background-color: white;
    border-color: transparent;
    transform: scale(1.1);
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hero Section End's__________________________________________________________ */






/* Main Section Start's______________________________________________________ */

main {
    width: 100%;
    background-color: whitesmoke;
    padding: 20px 40px;
}

/* Main Section End's______________________________________________________ */








/* Footer css start's */

footer {
    color: white;
    width: 100%;
    padding: 40px 40px 28px 40px;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.footerContent {
    width: 100%;
    display: flex;
    justify-content: space-evenly !important;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: left;
}

.logoMsg .footerLogo {
    width: 60px;
    height: 60px;
    transform: scale(0.9);
    margin-left: 0 !important;
    transition: all 0.4s;
}

.logoMsg .footerLogo:hover {
    transform: scale(1) rotate(360deg);
}

.logoMsg,
.quickLinks,
.connectUs,
.followUs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 165px;
    gap: 8px;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footerLinks li a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: all 0.2s;
}

.footerLinks li a:hover {
    color: rgb(101, 216, 255);
}

ul {
    list-style: none;
    padding-left: 0 !important;
}

.connectUs span {
    font-size: 14px;
}

.mediaLinks {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

.mediaLinks li a i {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.9);
    transition: all 0.2s;
}

.mediaLinks li a i:hover {
    color: rgb(101, 216, 255);
    transform: translateY(-2px);
}


/* Footer 2nd Div___________________________________ */


.copyRightDiv {
    width: 100%;
    padding-top: 30px;
    border-top: 0.2px solid rgba(223, 223, 223, 0.5)
}

/* Footer css end's */









/* Scroll Bar Styling______________________________ */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px deepskyblue;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: dodgerblue;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: deepskyblue
}
































/* Media Queries Start's_________________________________________ */

@media screen and (max-width: 815px) {

    .navBar {
        padding: 0px 28px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .navBar.active {
        backdrop-filter: none;
        background-color: rgba(0, 162, 255, 0.7);
        position: relative;
    }

    .navLinksContainer {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .navLinksContainer {
        display: none;
        width: 100%;
        height: 100vh !important;
        padding: 70px 24px;
        backdrop-filter: blur(10px);
        box-shadow: 0 10px 10px rgb(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        position: absolute;
        top: 5px;
        right: 0;
        transition: all 0.2s;
    }

    .navLinksContainer.active {
        display: flex;
    }

    .navLinks {
        width: 100%;
    }

    .navLinks {
        display: block;
        font-size: larger;
        width: 100%;
        /* color: rgb(0, 104, 207); */
        color: dodgerblue;
        padding: 10px 20px;
    }

    .navLinks:hover {
        color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    }

    .navLinks::before {
        content: none;
    }

    #loginBtn {
        width: 100%;
    }

    .lastLink {
        margin: 0;
    }

    svg {
        fill: dodgerblue;
        transition: 0.2s;
    }

    .lastLink:hover svg {
        fill: white;
    }

    .navbarToggler {
        display: flex;
        z-index: 999;
    }

    .bar {
        transition: 0.2s;
    }

    .navbarToggler.active .bar2 {
        opacity: 0;
    }

    .navbarToggler.active .bar1 {
        transform: translateY(9.5px) rotate(45deg);
    }

    .navbarToggler.active .bar3 {
        transform: translateY(-9.5px) rotate(-45deg);
    }

}


@media screen and (max-width: 800px) {

    .footerH6 {
        font-size: 18px;
    }

    .footerContent {
        width: 100%;
        display: flex;
        justify-content: space-evenly !important;
        gap: 50px;
    }


    .logoMsg,
    .quickLinks,
    .connectUs,
    .followUs {
        font-size: 14px !important;
    }

}

@media screen and (max-width: 605px) {

    .footerH6 {
        font-size: 20px;
    }

    .footerContent {
        flex-direction: column;
    }

    .logoMsg,
    .quickLinks,
    .connectUs,
    .followUs {
        width: 185px;
        font-size: 16px !important;
    }

    .connectUs span {
        font-size: 16px;
    }

}