body {
    margin: 0;
    padding: 0;
    background-image: url(All-files-related-to-this-project/bg-img/pexels-pixabay-268533.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Sign Up page CSS start's________________________________________ */

.signup_container {
    width: 35vw;
    padding: 2.780vw 5.9vw;
    backdrop-filter: blur(3px);
    box-shadow: 0.140vw 0.140vw 1.042vw rgba(0, 0, 0, 0.650);
    border-radius: 1.389vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.signup_container h1 {
    color: white;
    font-size: 2.5vw;
}

/* Sign Up page CSS end's________________________________________ */



/* Login page CSS start's________________________________________ */

.login_container {
    width: 35vw;
    padding: 2.780vw 5.9vw;
    backdrop-filter: blur(3px);
    box-shadow: 0.140vw 0.140vw 1.042vw rgba(0, 0, 0, 0.650);
    border-radius: 1.389vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login_container h1 {
    color: white;
    font-size: 2.5vw;
}


/* Login page CSS end's________________________________________ */



/* Both pages css start's_______________________________________ */

.message{
    color: white;
    font-size: 1vw;
    margin: 0px 1vw 1vw 1vw;
}

/* Both pages icons css start's_______________________________________ */

.both_pages_icons {
    color: white;
    margin: 0.347vw;
    cursor: default;
}

.both_pages_icons i {
    font-size: 1.7vw;
    background-color: #1d6edf8c;
    padding: 0.625vw 0.347vw 0.347vw 0.347vw;
    width: 2.780vw;
    height: 2.780vw;
    text-align: center;
    border-radius: 50%;
    backdrop-filter: blur(0.140vw);
    margin: 0.140vw;
    transition: 0.2s;
}

.both_pages_icons i:hover {
    background-color: #1d6ddf;
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0vw 0vw 0.347vw black;
}

/* Both pages icons css end's_______________________________________ */

.inputs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.695vw;
}

.inputs div input {
    font-size: 1vw;
    width: 19.445vw;
    height: 2.432vw;
    padding: 0.347vw;
    outline: none;
    border: none;
    border-radius: 0.8vw;
    border: 0.035vw solid transparent;
    background-color: white;
    padding: 0.695vw;
    transition: 0.3s;
}

.inputs div input:focus {
    border-color: deepskyblue;
}

/* Both pages btns css start's_______________________________________ */

.both_btns {
    font-size: 1.1vw;
    width: 8.335vw;
    padding: 0.347vw;
    margin-top: 0.556vw;
    color: white;
    text-shadow: 0vw 0vw 0.278vw #1d6ddf !important;
    text-shadow: 0.140vw 0.140vw 0.208vw black;
    background-color: rgba(0, 0, 0, 0.8);
    /* backdrop-filter: blur(0px); */
    border: none;
    border-radius: 1.390vw;
    box-shadow: 0vw 0vw 0.347vw black;
    transition: 0.3s;
}

.both_btns:hover {
    transform: scale(1.1);
    box-shadow: 0vw 0vw 0.6vw black;
}

/* Both pages btns css end's_______________________________________ */

/* Both fields quest css start's_______________________________________ */

.both_fields_quest {
    font-size: 1vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.4vw 0.7vw;
    border-radius: 0.7vw;
}

/* Both pages quest link Css start's___________________________ */

a {
    text-decoration: none;
}

.both_fields_quest span a {
    position: relative;
    color: #3388ff;
    cursor: pointer;
}

.both_fields_quest span a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.070vw;
    background-color: #1d6ddf;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease, transform-origin 0s;
}

.both_fields_quest span a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.hide {
    display: none;
}

/* Both pages quest link Css end's___________________________ */

/* Both fields quest css start's_______________________________________ */

/* Both pages css end's_______________________________________ */