.postCard {
    max-width: 60%;
    padding: 20px;
    margin: auto;
    background-color: white;
}

.userIcon_Name_DeleteCntnr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userIcon_Name_DeleteCntnr .child_1st {
    display: flex;
    align-items: center;
    gap: 5px;
}

.userIcon_Name_DeleteCntnr .child_1st img {
    width: 40px;
    filter: drop-shadow(0px 0px 5px rgba(128, 128, 128, 0.5));
}

#userPostName {
    font-size: 24px;
    font-weight: 500;
}

.deletPost {
    padding: 10px;
    background-image: url(icons/trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.deletPost:hover {
    filter: drop-shadow(0px 0px 3px red);
    scale: 1.05;
}