.postCard {
    max-width: 60%;
    padding: 20px;
    margin: auto;
    margin-block: 40px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 15px;
}

.userIcon_Name_DeleteCntnr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userIcon_Name_DeleteCntnr .child_1st {
    display: flex;
    align-items: center;
    gap: 5px;
}

.userIcon_Name_DeleteCntnr .child_1st img {
    width: 40px;
    filter: drop-shadow(0px 0px 5px rgba(128, 128, 128, 0.5));
}

#userPostName {
    font-size: 24px;
    font-weight: 500;
}

.child_2nd {
    font-size: x-small;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.deletPost {
    padding: 10px;
    background-image: url(icons/trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.deletPost:hover {
    filter: drop-shadow(0px 0px 3px red);
    scale: 1.05;
}

.postedText {
    max-height: 200px;
    overflow-y: scroll;
}

.postedImg {
    max-width: 100%;
    max-height: 100%;
    background-color: dodgerblue;
    border-radius: 10px;
}

.likeBtn {
    width: 40px;
    padding: 6px  22px;
    /* margin-top: -30px !important;
    margin-left: 5px; */
    background-image: url(icons/like.svg);
    background-position: 2% center;
    background-repeat: no-repeat;
    background-size: 20px;
    cursor: pointer;
}

.likeCounter {
    /* margin: 0px 0px 0px 10px; */
    /* margin: 40px 0px 0px -5px; */
    font-size: 16px;
    font-weight: 400;
}